<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр файлов на Яндекс.Диске</title>
</head>
<body>
    <h1>Введите публичную ссылку на файл</h1>
    <form method="post">
        <input type="text" name="public_key" value="{{ public_key }}" required>
        <label for="selected_type">Типы данных:</label>
        <select name="selected_type" id="selected_type">
            <option value="all" {% if selected_type == 'all' %}selected{% endif %}>All</option>
            {% for type in types %}
            <option value="{{ type }}" {% if selected_type == type %}selected{% endif %}>{{ type }}</option>
            {% endfor %}
        </select>
        <button type="submit">Просмотреть</button>
    </form>
    {% if folder_public_key %}
    <a href="{{ download_file(folder_public_key) }}">
        <button>Скачать всё</button>
    </a>
    {% endif %}


    {% if files %}
        <h2>Файлы:</h2>
        <ul>
        {% for file in files %}
            <li>
                {{ file.name }}
                <a href="{{ file.file }}">
                    <button>Скачать</button>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
