<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр файлов на Яндекс.Диске</title>
</head>
<body>
    <h1>Введите публичную ссылку на файл</h1>
    <form method="post">
        <input type="text" name="public_key" required>
        <button type="submit">Просмотреть</button>
    </form>

    {% if files %}
        <h2>Файлы:</h2>
        <ul>
        {% for file in files %}
            <li>
                {{ file.name }}
                <a href="{{ download_file(file.public_key) }}">
                    <button>Скачать</button>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
